CMakeLists.txt.user
*.o
*.dll
Settlement.exe
Settlement.cbp
version.h
Settlement.depend
*.map
*.layout
*.item
*.crit
gmon.out
data/oldNpcs.txt
data/gfx/OldCautionTile.png
data/saves/Profile1/save.inv
